/* General Styles */
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
    font-family: 'Rubik', sans-serif;
}
  
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 320px;
    height: 174px;
    background: #ABFBA7;
    border-radius: 20px;
    padding: 16px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
  
.card-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
  
.competition {
    color: #858585;
    font-size: 16px;
    font-weight: bold;
    line-height: 13px;
    margin-bottom: 12px;
}
  
.team-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 4px;

}
  
.team-icon {
    display: flex;
    align-items: center;
}
  
.team-image {
    width: 22px;
    height: 19px;
    margin-right: 8px;
}
  
.team-name {
    color: #232323;
    font-size: 21px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 12px;
}
  
.league {
    color: rgba(48, 51, 107, 0.4);
    font-size: 15px;
    font-weight: 500;
    line-height: 16px;
    margin-top: 9px;
}
  
.card-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;
}
  
.follow-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px; 
    height: 70px;
    background: white;
    border-radius: 50%; 
    border: none;
    color: #232323;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}
  
.follow-btn:hover {
    background: #e0e0e0;
}
