/* Estilos generales */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    font-family: 'Rubik', sans-serif;
}

/* Contenedor principal */
.date-selector {
    width: 467px;
    height: 59px;
    padding: 9px 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

/* Botones de fecha */
.date-option {
    padding: 6px 10px;
    border-radius: 20px;
    border: 1px solid #373737;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    cursor: pointer;
}

/* Estilo de fecha activa */
.date-option.active {
    background: white;
    color: #2D2D2D;
    border: 1px solid #000;
}

/* Estilo de fechas inactivas */
.date-option:not(.active) {
    background: #282828;
    color: #8D8D8D;
}
